= form_for(@build) do |f|
  - if @build.errors.any?
    #error_explanation
      %h2
        = pluralize(@build.errors.count, "error")
        prohibited this build from being saved:

      %ul
        - @build.errors.full_messages.each do |message|
          %li
            = message

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :status_id
    = f.number_field :status_id
  .field
    = f.label :output
    = f.text_field :output
  .field
    = f.submit

