%h1
  = @build_job.title
%ul.fe-item-details
  %li.fe-show-field
    %i.fe-build_job-image-start_time
    %h1
      = BuildJob.human_attribute_name 'start_time'
    = @build_job.start_time
  %li.fe-show-field
    %i.fe-build_job-image-stop_time
    %h1
      = BuildJob.human_attribute_name 'stop_time'
    = @build_job.stop_time
  %li.fe-show-field
    %i.fe-build_job-image-duration
    %h1
      = BuildJob.human_attribute_name 'duration'
    = @build_job.duration
  %li.fe-show-field
    %i.fe-build_job-image-build_status
    %h1
      = BuildJob.human_attribute_name 'build_status'
    = @build_job.build_status
  %li.fe-show-field
    %i.fe-build_job-image-source_file
    %h1
      = BuildJob.human_attribute_name 'source_file'
    = link_to BuildJob.human_attribute_name('source_file'), @build_job.source_file.url
    = @build_job.build_file_size
  %li.fe-show-field
    %i.fe-build_job-image-build_file
    %h1
      = BuildJob.human_attribute_name 'build_file'
    = link_to BuildJob.human_attribute_name('build_file'), @build_job.build_file.url
    = @build_job.build_file_size
%ul.fe-item-details
  %li.fe-show-field.fe-show-field-blank
    %h1
      = BuildJob.human_attribute_name 'Output'
    %code.fe-build_job-output
      = simple_format(@build_job.output)
