- content_for :navigation_actions do
  = render partial: 'actions'

= form_for(@build_job, html: { class: 'fe-form' }) do |f|
  - if @build_job.errors.any?
    render partial:'errors/saved_object', object: @build_job

  .fe-form-field
    = f.label :source_file, BuildJob.human_attribute_name(:source_file), class: 'fe-form-label'
    = f.file_field :source_file, class: 'fe-form-file-field'
  .fe-form-field
    = f.label :add_static_servers, BuildJob.human_attribute_name(:add_static_servers), class: 'fe-form-label'
    = f.check_box :add_static_servers, class: 'fe-form-file-field'
  .fe-form-field
    = f.submit t('views.build_jobs.new.link'), class: 'fe-button-new'

