- breadcrumb :build_job, @build_job

- content_for :navigation_actions do
  = link_to new_build_job_path, class: 'fe-button-slim-new' do
    %i.fe-icon.fe-icon-slim.fe-icon-item-new
    = t('views.build_jobs.new.link')

%p
  = @build_job.title
%p
  = @build_job.start_time
%p
  = @build_job.stop_time
%p
  = @build_job.duration
%p
  = @build_job.build_status
%code
  = simple_format(@build_job.output)
