%h1
  = @validation_job.title

= render partial: 'shared/progress/validation_job', object: @validation_job

%ul.fe-item-details
  %li.fe-show-field
    %i.fe-validation_job-image-start_time
    %h1
      = ValidationJob.human_attribute_name 'start_time'
    = @validation_job.start_time
  %li.fe-show-field
    %i.fe-validation_job-image-stop_time
    %h1
      = ValidationJob.human_attribute_name 'stop_time'
    = @validation_job.stop_time
  %li.fe-show-field
    %i.fe-validation_job-image-duration
    %h1
      = ValidationJob.human_attribute_name 'duration'
    = @validation_job.duration
  %li.fe-show-field
    %i.fe-validation_job-image-build_status
    %h1
      = ValidationJob.human_attribute_name 'build_status'
    = @validation_job.build_status
  - unless @validation_job.source_file.blank?
    %li.fe-show-field
      %i.fe-validation_job-image-source_file
      %h1
        = ValidationJob.human_attribute_name 'source_file'
      = link_to ValidationJob.human_attribute_name('source_file'), @validation_job.source_file.url
      = @validation_job.source_file_size
  - unless @validation_job.build_file.blank?
    %li.fe-show-field
      %i.fe-validation_job-image-build_file
      %h1
        = ValidationJob.human_attribute_name 'build_file'
      = link_to ValidationJob.human_attribute_name('build_file'), @validation_job.build_file.url
      = @validation_job.build_file_size
%ul.fe-item-details
  %li.fe-show-field.fe-show-field-blank
    %h1
      = ValidationJob.human_attribute_name 'Output'
    %code.fe-validation_job-output
      = simple_format(@validation_job.output)
