%h1
  = @validation_job.title

= render partial: 'shared/progress/validation_job', object: @validation_job

%ul.fe-item-details
  %li.fe-show-field
    %i.fe-validation_job-image-start_time
    %h1
      = ValidationJob.human_attribute_name 'start_time'
    = @validation_job.start_time
  %li.fe-show-field
    %i.fe-validation_job-image-stop_time
    %h1
      = ValidationJob.human_attribute_name 'stop_time'
    = @validation_job.stop_time
  %li.fe-show-field
    %i.fe-validation_job-image-duration
    %h1
      = ValidationJob.human_attribute_name 'duration'
    = @validation_job.duration
  %li.fe-show-field
    %i.fe-validation_job-image-validation_status
    %h1
      = ValidationJob.human_attribute_name 'build_status'
    = @validation_job.validation_status
  - unless @validation_job.source_file.blank?
    %li.fe-show-field
      %i.fe-validation_job-image-source_file
      %h1
        = ValidationJob.human_attribute_name 'source_file'
      = link_to ValidationJob.human_attribute_name('source_file'), attachment_url(@validation_job, :source_file)
      = @validation_job.source_file_size
