%div.fe-validation_job-overview
  = link_to validation_job_path(job) do
    %div.fe-icon-item-appetizer{ style: "background-image: #{job.icon}" }
  %ul.fe-validation_job-overview-items
    %li.fe-validation_job-overview-row
      %span.fe-validation_job-title
        = link_to validation_job_path(job) do
          %h1
            = job.title
    %li.fe-validation_job-overview-row
      - unless job.start_time.blank?
        %span.fe-validation_job-start_time
          %i.fe-icon.fe-icon-start.fe-icon-color-grey.fe-icon-validation_job-start_time
          = job.start_time
      - unless job.stop_time.blank?
        %span.fe-validation_job-stop_time
          %i.fe-icon.fe-icon-slim.fe-icon-color-grey.fe-icon-validation_job-stop_time
          = job.stop_time
      - if !job.stop_time.blank? && !job.start_time.blank?
        %span.fe-validation_job-duration
          %i.fe-icon.fe-icon-slim.fe-icon-color-grey.fe-icon-validation_job-duration
          = job.duration
    %li.fe-validation_job-overview-row
      - unless job.source_file.blank?
        %span.fe-validation_job-source_file
          %i.fe-icon.fe-icon-slim.fe-icon-color-grey.fe-icon-validation_job-source_file
          = link_to ValidationJob.human_attribute_name('source_file'), attachment_url(job, :source_file)
          = job.source_file_size
      %span.fe-validation_job-validation_status
        %i.fe-icon.fe-icon-slim.fe-icon-color-grey.fe-icon-validation_job-validation_status
        = job.validation_status
