!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    / Use title if defined by view
    %title
      = yield(:title) || t('views.application.meta.title')

    %meta{name: 'description', content: t('views.application.meta.description')}
    %meta{name: 'viewport', content: 'width=device-width'}

    / Place favicon.ico and apple-touch-icon.png in the root directory
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = yield(:stylesheets)
    = csrf_meta_tags
%body.fe-main
  %header
    %nav.fe-navigation
      %ul.fe-navigation-bar
        %li.fe-navigation-links
          = link_to root_path do
            %i.fe-icon.fe-icon-slim.fe-icon-home
            = t('views.application.main_navigation.links.root')
        %li.fe-navigation-links
          = link_to build_jobs_path do
            %i.fe-icon.fe-icon-slim.fe-icon-buildjob
            = t('views.application.main_navigation.links.buildjobs')
        %li.fe-navigation-actions
          = yield :navigation_actions
      = breadcrumbs class: 'fe-navigation-breadcrumbs', current_class: 'fe-navigation-breadcrumbs-current', fragment_class: 'fe-navigation-breadcrumbs-links', pretext_class: 'fe-navigation-breadcrumbs-pretext', separator: '/'
  %section.fe-content
    = yield
  %footer.fe-footer
    %span.fe-copyright
      &copy; 2014. fedux.org. All rights reserved.
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag 'modernizr/modernizr', 'data-turbolinks-track' => true
